.about {
  margin-top: 40px;
  max-width: 800px;
  border-radius: 1rem;
  background-color: $about-background-color;
  padding: 1rem 2.5rem 2.5rem 2.5rem;
  
  border-radius: 1rem;
  box-shadow: 5px 5px #88888860;
}